numpy >= 1.12.1
scikit-learn >= 0.18.1
matplotlib == 2.0.0
scipy >= 0.19.0
pandas >= 0.19.2
pymongo >= 3.4.0
MySQL-python >= 1.2.5
beautifulsoup4 >= 4.5.3
lda >= 1.0.4
nltk >= 3.2.2
requests == 2.12.4
tensorflow
bhtsne